.di
{
    height:50%;
    padding: 2cm;
    display:inline-block;
    background-color: blue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.f
{
    background-color: blue;

}
